$turquoise: #1abc9c;
$greensea: #16a085;
$emerald: #2ecc71;
$peterriver: #3498db;
$belizehole: #2980b9;
$amethyst: #9b59b6;
$wisteria: #8e44ad;
$wetasphalt: #34495e;
$midnightblue: #2c3e50;
$sunflower: #f1c40f;
$orange: #f39c12;
$carrot: #e67e22;
$pumpkin: #d35400;
$alizarin: #e74c3c;
$pomegranate: #c0392b;
$clouds: #ecf0f1;
$silver: #bdc3c7;
$concrete: #95a5a6;
$asbestos: #7f8c8d;

/* Backgrounds */

.bg-turquoise{background-color: $turquoise;}
.bg-greensea{background-color: $greensea;}
.bg-emerald{background-color: $emerald;}
.bg-peterriver{background-color: $peterriver;}
.bg-belizehole{background-color: $belizehole;}
.bg-amethyst{background-color: $amethyst;}
.bg-wisteria{background-color: $wisteria;}
.bg-wetasphalt{background-color: $wetasphalt;}
.bg-midnightblue{background-color: $midnightblue;}
.bg-sunflower{background-color: $sunflower;}
.bg-orange{background-color: $orange;}
.bg-carrot{background-color: $carrot;}
.bg-pumpkin{background-color: $pumpkin;}
.bg-alizarin{background-color: $alizarin;}
.bg-pomegranate{background-color: $pomegranate;}
.bg-clouds{background-color: $clouds;}
.bg-silver{background-color: $silver;}
.bg-concrete{background-color: $concrete;}
.bg-asbestos{background-color: $asbestos;}


/* Colors */
.turquoise{color: $turquoise;}
.greensea{color: $greensea;}
.emerald{color: $emerald;}
.peterriver{color: $peterriver;}
.belizehole{color: $belizehole;}
.amethyst{color: $amethyst;}
.wisteria{color: $wisteria;}
.wetasphalt{color: $wetasphalt;}
.midnightblue{color: $midnightblue;}
.sunflower{color: $sunflower;}
.orange{color: $orange;}
.carrot{color: $carrot;}
.pumpkin{color: $pumpkin;}
.alizarin{color: $alizarin;}
.pomegranate{color: $pomegranate;}
.clouds{color: $clouds;}
.silver{color: $silver;}
.concrete{color: $concrete;}
.asbestos{color: $asbestos;}